In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib notebook

In [3]:
%load_ext sql

In [4]:
%sql postgresql://imdb:imdb_admin@postgres:5432/imdb_database

# Introduction to SQL (Structured Query Language)

##### Version 0.1

***

By Scott Coughlin (Northwestern IT Research Computing Services)  
20 July 2022

[Session 15](https://github.com/LSSTC-DSFP/LSSTC-DSFP-Sessions/tree/main/Sessions/Session15) is primarily concerned with handling our data with efficiency.

Ideally, for any and every task we want to desire solutions that operate *faster*.

This can be accomplished many different ways:

$~~~~~~$build algorithms that execute faster

$~~~~~~$spread calculations over many different computers simultaneously

$~~~~~~$find a compact storage solution for the data so it can be accessed more quickly

In our introduction to SQL we will start with simple queries of existing tables, and discuss creating your own tables using `pandas` as a challenge problem.

## Problem 1) IMDb Data

Throughout the session we will use information from the [Internet Movie Database (IMDb)](https://www.imdb.com/) to illustrate various principles regarding databases.

A quick note on the provenance of this data. The files we have used to populate this data set are from [this website](https://relational.fit.cvut.cz/dataset/IMDb) and it may not be a list of every single movie on IMDb (there are no movies after 2004).

#### Please note that you can make an SQL command call from a jupyter cell by adding "%sql" in front of the SQL command you want to run, see examples below
```
%sql SELECT * FROM imbd_movies;
```

Please execute the cell below to list all of the table names in the imbd_database database. You will want these table names to answer the questions that follow.

In [7]:
%sql \dt

 * postgresql://imdb:***@postgres:5432/imdb_database
4 rows affected.

[('public', 'imbd_directors', 'table', 'imdb'),
 ('public', 'imbd_movies', 'table', 'imdb'),
 ('public', 'imbd_movies_directors', 'table', 'imdb'),
 ('public', 'imbd_movies_genres', 'table', 'imdb')]

**Problem 1a**

Using SQL, SELECT 10 movies from the imbd_movies table. Select 10 directors from imbd_directors and order by `first_name`.

In [ ]:
%sql

**Problem 1b**

Using SQL, how many movies are there? How many directors are there?

In [ ]:
%sql

*Write your answer here*

**Problem 1c**

Using SQL, determine how many movies are there after the year 2000?

In [ ]:
%sql

*Write your answer here*

**Problem 1d**

How many different movie genres are there?

In [ ]:
%sql

*Write your answer here*

## Problem 2) Joins

We started this exercise with a goal of being efficient. And yet, the data have been organized across 4 different files (each sheet is effectively a unique csv file).

**Problem 2a**

If we wanted to store all the data in a single sheet, how many rows would we need?

*write your answer here*

*write your answer here*

## Problem 3) Groups and Aggregates

Now that we know why the data has been organized in this way, we can leverage this unique structure in order to learn interesting properties of the data.

**Problem 3a**

As a follow-up to a previous problem, according the the IMDb data, which director has directed the most movies?

**Problem 3b**

In which year were the most movies made according to IMDb?

*write your answer here*

## Challenge Problem) Make your own tables